/* 전체 선택자 */
/* 전체 글자를 모두 선택해서 파랑으로 바꾸기 */
/* *{color:색상명;} */
*{color:blue;}

/* p를 선택해서 회색(16진수 이용 */
/* p{color:#555555;} 혹은 숫자가 똑같으면 #555로 줄여서 사용가능 */
p{color:#555}

/* 클래스 선택자 .color3을 선택해서 글자색 빨강(16진수 사용) */
.color3{color:#f00;}

/* 클래스 선택자 .color3을 선택해서 글자색 빨강(10진수 사용) */
.color{color:rgb(0,255,0);}

/* id선택자 #id명 */
#idcolor{color:salmon;}