/* pc */
body{font-size: 16px;
background-color: pink;}

.title{font-size: 2em;}

.ipad, .mobile{display: none;}

/* ipad */
/* 768~1279px */
@media screen and (max-width:1279px)
{body{background-color: skyblue;
font-size: 14px;}
.pc{display: none;}
.ipad{display: block;}}


/* mobile */
/* ~767px */
@media screen and (max-width:768px)
{body{font-size: 12px;
background-color: green;}
.ipad{display: none;}
.mobile{display: block;}    
}