/* pc 버젼 */
/* 1.숨기기 */
.ham-btn {
    display: none;
}

.inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(255, 0, 0, 0.2);
    position: relative;
}

body {
    font-size: 16px;
}

header {
    border-top: 2px solid #002230;
}

.logo {
    text-align: center;

    a{display: flex;
    justify-content: center;}

    img {
        width: 200px;
    }
}

.gnb-list {
    position: absolute;
    right: 0;
    top: 20px;
    display: flex;
    gap: 20px;
}

.main-menu {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 1.25em;
    margin: 20px 0;
}

.main-slider {
    height: 500px;
    background-color: green;
}

.container {
    padding: 50px 0;
}

.container .title {
    padding: 30px 0 20px;
    font-size: 3em;
}

.info-list>div {
    height: 200px;
}

.info-list {
    display: flex;
    justify-content: space-between;
}

.info-list>.box1 {
    background-color: skyblue;
    width: 24%;
}

.info-list>.box2 {
    background-color: bisque;
    width: 48%;
}

.info-list>.box3 {
    background-color: blueviolet;
    width: 24%;
}

.event-list {
    display: flex;
    gap: 2%;
}

.event-list>div {
    background-color: #ccc;
    height: 100px;
    flex: 1;
}

/* flex: 1;은 전체 너비를 균등하게 나뉨 */

footer {
    padding: 30px 0;
    background-color: coral;
}


/* ipad 버젼 1024px */
@media screen and (max-width:1024px) {

    /* 1.보이기 */
    .ham-btn {
        display: block;
        position: absolute;
        right: 20px; top: 50%;
        transform: translateY(-50%);
    }

    /* 2.숨기기 */
    .gnb-list {
        display: none;
    }

    .main-menu {
        position: fixed;
        display: block;
        background-color: #eee;
        width: 60%;
        max-width: 500px;
        min-width: 280px;
        right: -100%;
        top: 0;
        margin: 0;
    }

     /* 3.100% 만들기 */
     .info-list{flex-wrap:wrap;
    row-gap: 10px;}
     .info-list>.box2{width: 100%;
    order: 1;}
     .info-list>.box1, .info-list>.box3{width: 49%;
    order: 2;}
}


/* mobile 버젼 */
@media screen and (max-width:767px) {
    body{font-size: 12px;}

    .info-list>.box1, .info-list>.box2, .info-list>.box3{width: 100%;
    order: 0;}
    
}