div{width:300px;
height: 200px;
background: pink;
margin: 10px;}

/* box1 테두리 두께 2px 선의 종류 실선 색은 빨강 */
.box1{border-width:2px;
border-style: solid;
border-color: red;}

/* 테두리 두께 5px 선의종류 dashed 색은 초록 */
.box2{border:5px dashed green;}

/* 오른쪽테두리 10px 선의종류 실선 색은 파랑 */
.box3{border-right:10px solid blue;}

/* border: 테두리를 주면 박스 사이즈 변함
   outline: 테두리를 주면 박스 사이즈 변하지 않는다 */

   /* outline 10px solid black */
   .box4{outline: 10px solid black;}
