li{list-style: none;}
.icon-list>li>a{display: block;
width: 60px;
height: 60px;
background: #eee;
margin: 10px;
border-radius: 100%;
background-repeat: no-repeat;
background-position: center center;}

.icon-list>li>a:hover{background-color: blue;}

.icon-list>.icon1>a{background-image: url(../image/icon_set_011.png);}
.icon-list>.icon2>a{background-image: url(../image/icon_set_01111.png);}
.icon-list>.icon3>a{background-image: url(../image/icon_set_022.png);}
.icon-list>.icon4>a{background-image: url(../image/icon_set_077.png);}