.store>a,
.franchise>a{display: block;
    width: 300px;
height: 80px;
line-height: 80px;
text-decoration: none;
font-size: 22px;
font-weight: bolder;
}

.store>a{background: #ffce32 url(../image/icon_map.png)
    no-repeat 80px  center;
border-radius: 30px 0 0 0;
color: #1a1a1a;
text-indent: 120px;}

.franchise>a{background: #009233 url(../image/icon_franchise.png) 
    no-repeat 60px center;
border-radius: 0 0 30px 0;
color: #fff;
text-indent: 100px;}