li{list-style: none;}

/* ul 첫째자식은 li 글자크기, 대문자 */
.list>li:first-child{font-size: 30px ;
text-transform: uppercase;}

/* list 마지막 자식인 li 굻게, 밑줄 */
.list>li:last-child{font-weight: bolder;
text-decoration: underline;}

/* list 의 두번째 자식 uth-child(순서) */
.list>li:nth-child(2){font-style: italic;}

/* 짝수번째 자식을 선택하여 배경주기*/
/* 짝수란 숫자/2 나머지가 0 이면 짝수다--->2n 이라고 표현 */
.list>li:nth-child(2n){background: pink;}

/*홀수번째 자식을 선택하여 배경주기*/
/* 홀수는 2n+1 이라고 표현 */
.list>li:nth-child(2n+1){background-color: skyblue;}