*{margin: 0; padding: 0;}

li{list-style: none;}

a{text-decoration: none;
color: #222;}

header{line-height: 80px;
background: #eee;}

.inner{max-width: 1600px;
margin: 0 auto;}

.main-menu{display: flex;
gap: 100px;}

.main-menu>li{}


.main-menu>li>a{
    display: block;
    font-weight: 600;
font-size: 18px;
background: antiquewhite;
position: relative;}

.main-menu>li>a::after{content: "";
display: block;
    width: 0;
height: 2px;
background: dodgerblue;
transition: 0.3s;
position: absolute;
/* 부모로부터 50% */
left: 50%;
/* 내 자신의 너비의 절반 */
transform: translateX(-50%);}

.main-menu>li>a:hover::after{width: 100%;}