li{list-style: none;}

.wrap>div{width: 100px; height: 100px;
background: hotpink;
margin: 10px;
transition: 1s;}

.wrap>div:hover{transform: rotate(360deg);}

.wrap>.box2{transform-origin: right center;}

.wrap>.box3{transform-origin: 100% 100%;}

.list{display: flex;
gap: 20px;}

.list>li{border: 1px solid black;
padding: 10px 30px;
background: #fff;
transition: 0.5s;}

.list>li:hover{transform: scale(1.8);}

.list>li:first-child{transform-origin: 100% 50%;}

.list>li:last-child{transform-origin: -20px center;}

.list>li:last-child:hover{transform-origin: 0% center}