html{font-size: 10px;}

.box{width: 400px; height: 260px;
background: pink;
border-radius: 40px;
position: relative;}

.box .c_more{width: 7.5rem; height: 7.5rem;
background: #fff;
position: absolute;
right: 0; bottom: 0;
border-radius: 4rem 0 0 0;}

.box .c_more::before{content: "";
display: block;
/* background: #ccc; */
width: 8rem; height: 8rem;
border-radius: 100%;
position: absolute;
left: -8rem; bottom: 0;
box-shadow: 4rem 4rem 0 #fff;}

.box .c_more::after{content: "";
    width: 8rem; height: 8rem;
display: block;
border-radius: 100%;
/* background: #ccc; */
position: absolute;
top: -8rem; right: 0;
box-shadow: 4rem 4rem 0 #fff;}